* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.IMG__teste {
    max-height: 680px;
    width: 100vw;
}

// .Parallax {
//     
//    
//         }
//         &__heading {
//             background-color: #fff;
//             width: 40%;
//             padding: 40px;
//             &__text {
//                 margin: 10px 0;
//                 font-size: 60px;
//             }
//             &__caption {
//                 margin: 0;
//                 font-size: 20px;
//             }
//         }
//         &__cta {
//             background-color: #ff737e;
//             width: 60%;
//             padding: 40px;
//             font-size: 20px;
//             color: #fff;
//             margin-top: 120px;
//         }
//     }
// }