.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 1000px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50px;
    right: 32px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    position: absolute;
    top: 50px;
    left: 32px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 10;
}