.container {
    position: relative;
}

.containerSlideShow {
    display: flex;
    flex-wrap: nowrap;
}

.slide {
    min-width: 100%;
    overflow: hidden;
    transition: .3s ease;
    z-index: 9;
    max-height: 500px;
    position: relative;
    img {
        width: 100%;
    }
}

.controles {
    position: absolute;
    top: 0px;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.icon {
    width: 25px;
    height: 25px;
    color: red;
    &:hover {
        color: black;
        transition: .5s ease;
    }
}

.naosei {
    transition: .3s ease;
    transform: translateX(500px);
}

// .button {
//     height: 100%;
//     &:hover {
//         background-color: rgba(0, 0, 0, .50);
//         transition: .5s ease;
//     }
// }